services:
  backend:
    build:
      context: ./kloop_back
      dockerfile: dockerfile
    ports:
      - "5000:5000"
  frontend:
    build:
      context: ./kloop_front
      dockerfile: dockerfile
    ports:
      - "3000:3000"

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - backend

  grafana:
    image: grafana/grafana:latest
    ports:
      - "7860:3000"  # Expose Grafana on localhost:7860
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_AUTH_ANONYMOUS_ENABLED=true